node_modules
dist
.git
.devcontainer
.vscode
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/data
data
backend/main
