PORT=3001
HOST=localhost
DB_PATH=./data/list.db
GIN_MODE=debug
ALLOWED_ORIGINS=*
ANILIST_API_URL=https://graphql.anilist.co
RATING_TYPE=stars
# VITE_API_BASE_URL=http://localhost:3001/api
# VITE_API_BASE_URL=https://api.aniryu.localhost/api
